config INTERCONNECT_QCOM
	bool "Qualcomm Network-on-Chip interconnect drivers"
	depends on INTERCONNECT
	depends on ARCH_QCOM || COMPILE_TEST

config INTERCONNECT_QCOM_SMD_RPM
	tristate "Qualcomm SMD RPM interconnect driver"
	depends on INTERCONNECT_QCOM
	help
	  This is a driver for communicating interconnect related configuration
	  details with a remote processor (RPM) on Qualcomm platforms.
